.events-list {
    /* max-width: 500px; */
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
}
#root {
    --box-bg: rgb(19, 126, 58);
}

.event-type {
    display: inline-block;
}
.timestamp {
    display: inline-block;
    margin-left: 5px;
}
.amount {
    display: inline-block;
}
.unit {
    display: inline-block;
    margin-left: 5px;
}
.event {
    width: 100%;
    height: 150;
    background-color: var(--box-bg);
}
.event + .event {
    margin-top: 10px;
}
