#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.sign-out > * {
  display: inline-block;
}
.sign-out > a {
  margin-left: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.margin-bottom {
  margin-bottom: 10px;
}
